sudo: false
dist: trusty
language: node_js
node_js:
- stable
branches:
  except:
  - gh-pages
addons:
  firefox: latest
  apt:
    sources:
    - google-chrome
    packages:
    - google-chrome-stable
before_script:
- yarn add polymer-cli
- polymer install --variants
script:
- xvfb-run wct --skip-plugin sauce
- if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then wct --plugin sauce --skip-plugin
  local; fi
after_success:
- if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then openssl aes-256-cbc -k "$DEPLOYSECRET"
  -in deploy.enc -out deploy_key -d; fi
- cd $TRAVIS_BUILD_DIR/scripts
- chmod 755 ghp.sh
- "./ghp.sh"
env:
  global:
  - secure: cmIiMgAWBfTofqzbtBBLmORsHy3a46IGW1OOXG3vO9lybcw7+Dq9bmEnn/AcfV4kgbbSlTVrcV6TLeiasO1mr+yqNQJONqSjTunKs0viPFW5e0gmVq0GNkewhO8IZ+3/m0WEZGDArY9sUn1os2DJ6p6VFdObvkqy2QuVfmfupkfee8UhOdnnjnCmZVzwxkPNrLS6PRCk3wZtO8XvciOniugF+9k500v1rvQd4p+e0bksNxPb0svvFzK0PpEcJvYf66JSo+W7YMYHko47mBzCJzU94lqk64A0PP+BXalnIuWtdPjPYnlbl9K+pCdpsRFzDy+nZFI7CHCZjLMtMteN9s2j2C2+BL+5vIU4eck9XGSnjuMGF+VW4XKWX8r1VZZBXPq5Tj2p/XZ4eGlTqqeQl5m60Zi/6ue0Y9MMz36Pl3A1wdsgOo5TJJVkkCKnKqIy/EHak0IjDS2rs4IwmQK53X4X4dRK0qA+cCOvNNo72+LMBPmTq+Ezm3uvmIkA5xm/0/yukOvuY7F15U+7vB+huNelILodbCHm4ssLqsIGsSCcTe2Bbqd7rF/yUBFpb5/+V1gTBZMhlmDsL43eCP5Iw2KmVoTuBj06awEhf8IgA/Wx7x/3jYhk46j0ygTXVL3zQZNfgqlLzS5ICl01L/boWHIGtyRvRaQAYBrWFTeBzYE=
  - secure: l5e5ZIvTCU0js7cFnq0Un0LaXcAkbd8aZRsLEPtsdcVRqUEXXuAzfE8otXuJDxtNt6g6kl6j/7VW3bq/BC9ETrELCVTh++ArVevFkwwlfW+6JFCrgKbDZxmRcnJsWv+F/CDbzGbztzMa6rvNYLqXgL3bR3pSf5MHTchcX5GrT2+oMJRAGkYeDfvQ+7rPqQaYGb2bqYYCljTBglVfDdX796vFN5CfAskbxLrBKZstUVurvAR32tFQiUnhNUnU0bXJKsVgb4q2XHnklu1dqN2lljLsHqf8ptmlnRb3TmNMVf6uyJs9+y5uD3qc9RtDduotLfqSiIx82GX5Q1mcCV1cIpo9PxFQtNYhwCT3rgpwVIh4+8Wnzn9MUVRgXWKqCy9RML9KaqyRH41aV04yjOhj1tdoOZkDNxvNO827G9rixjmwIaH3Ki52/4kM8rkOvwnQR0SD6tpByzxo2k0GV4QG0SyTLB7pP6BX0fklarUpcnAntGRsRFoKAn2YaJIGe+ETWExN8FHlHQuEUeW68jfog3Soq2+Lnhveq1yANDvfql6rHWXNsC8PIxGC0TXvGmt+6vK5i7v2RWBzZWQ9TBgfo9VzQG92dSGeiLhADCwHAcNeNjDzYx5BKICMAJFZPIIv6ndr+dtL2k/4C29BMYr9P+z1l01i6i4ID/Nn7B/6VKY=
  - secure: pF8Gg3YU7BqMyDmfCWtq0XyACJiyxte7b4z6hLYdJYPHgokQHGuFNZ/G2ap6siXiR855fuPQSEMBXGQ+JYXA/W0D5pCunSvINka4zVqCG0POl2T2WnP1QNaTC+zEwhjBNPRXM2lkD34dhV0OpELh+Itz6ex+VLXEExDCke8yp0Rg5kv9oWvoaB2MQkCcbYp91P4vEx5Ke62VrVCUxp/99ptAZd04PjPXun2ciChqJMmh2QZ6zQ982nuU+d+a4c34eJRkbmBuCZuXC8xV4GaJWf4Psop+Azt3FgrXdlFjXtJPpgkgeTd8UL4hmwA6LT/2veAxCG3xE5f9bZsKb/4n+bdTlJgK1IBfVp6iEGsypRM3pCOyNklesEUTI43N5BgzAjbYP+nVKvjf7MaZFDyhK/kOg2OUwo6mQ5fbbvDwJVpkowKXkROpWrgBhVeAn9AOMqXVotaslBjoUzmMqnRU3r7Wk+Kl8cqjFccmiqK2kXPvo7f/aFjc0ay/bULcwd18mPEtYXSPp3PnuUy/Ye+hGrDBH5gPa9QnvjkBlzO4tUghG7KUfGBYCcRI1bvPIRDKYcfCspU78Cc77gq/KlXD1GVDGB3P4o/RoPNxpejxHHcRIm3SiNixWB7usnIfskKEyWCRndBu/OlFTzxibW9NI87+eP7Rjwm5NTLe/OFZmwM=
  - secure: GY9q+gVq5dHlPA5AUuKS9pdNQJQEQla47cU2wUaga2Re3fOERk4IbD0gpzXq16SpmrQJEAgaUBVO4WL4Mq0CDc0i4CXB3/MyfsL+xORKQRqEEUML9lQzhXG8dhKnTJmOMb4QqeZjiiuSnShIi707fkcZcG94SQ4q9rkCaKmBZyCzNjPmh4vQQUHmOJ8RyPUN4eMAo51IwRQ3dozHkTHM/Qs3aqKa37Rz8q0oyM8ZqU1IWXQdubpESv3nqp+AEUx6fiCKmqDNiXXtvkz+uERagH3fQsIi3D9moDAJ40wRTKvOrtDVgNijyoc7YyPJNIssQYNmOJAUKlN1xxTkaja4jK3diz3XwOfmf4DoUdu8ZMsd5d3tGSk3uuWAnsi0ZXIZfU+MASTZABr3XsCKv8Mj5J9g2jh2e9nvIErb23hBvuw6mzaLqMUJsj/jP4N5fx1ulCfvdUjNaJu5mO3zKaRkRKJaLH2/0OExT6JVwTSpb5C3+qud+5daGFJ9qBf7VhkJA5rJgZprCYWIcP2Nn0Swu260RXEWpYpKZzJzA7w8mB1Qkx62L/BmNxu1lf6a46dBgHjCyxGqGIoLg2Q5fHPzMCj+5ECU6bKQSLiF1OR3yD6M+9jyeceMfX0lFf1zKHjHBb0CZ98GY186BJipSLl/VJRMANhhHNQJ/qRFTRjY+E0=
  - secure: ZMxlVk7YpE6UggKLenz2ZY6Pt885g6ykwy9XrwFeL97I3q3wH+6qtDfQze+HiS6H8THbTm3Z9MwYnjnrlwahMLRLb7JbATlMuE3sFpQYgj9ZygqSLukoEyuGl3KJo/+Cg7ylUsyU54MKrYRm//ujsgLjLT4c3EGg7gLG8sLqdnoYu0Kf1W9hgp1P+JagdDg6NhG8BMGV+n+cutOQkCVHANc/CyYZquzHhidXHokO4ZuJrti88XhuYcs/cD44aJt8zbf3uCQfeW4nm+cBGoOGkPFStOE1NS99s9hMlVPNVVVpoqjlMg3evk1LKvUy0SrBtvf/m+gDJCEsyhcdxcGJJGML9n/9Yi8huTi4ghYqkORYTuRv1I8MWzVSznAaOC205PmtPeY8CmSb7BwsyVkAZEvdEmWm5GaV2+f+dsTV93DkoJ/bSK6inqFGJG7RMLkT59WfxhgklbeesLzWP94Czx2QorE2jHeCVKrTpVAVOuU1qSvUS9h/L59mDya7L92Ukd1MeuBUjkC+S20ryYUU2BywZWNeWTkHoWl0iWQNpcomrrQnjLBPk25OUY4OXyd+N8+9TzRGZaCv/DtEjuFwYriIZQZKIRNdpepMgukaJfGFBQ1uRoxRdlThI/16rxKbqX/5UiQRsZ/oCWPyzg1qb9iwC7PtLz+LMEMis0GJLFs=
